.changeBackgroung{
    background-color:#e1e1e1;
}
.active{
    color:#bf1725;
}
.bottom-0{margin-bottom: 0px;}
.add-item{color: #007bff !important;
text-decoration: none;
background-color: transparent;}
.add-item:hover, .add-item:focus {
    text-decoration: none;
    color: #0056b3 !important;
}