<div class="block textcolorBlack">
  <div class="container">
    <div class="col-12 my-5">
      <h3 class="text-center textColorRed">About us</h3>


      <h4 class="textColorBlue">How it all Started – Our Backstory:</h4>
      <p>
        The idea for <span class="textColorBlue">Bux Superstore</span> germinated during one of our fruitless online shopping trips. We realised that though online
        marketplaces have grown by leaps and bounds, within the last few years, the picture wasn’t yet complete. Limited
        shipping locations, low-quality products, exorbitant exchange rates – these were just a few of the worries plaguing
        online shoppers. </p>


      <p>We decided that it was time to sort out these worries. We rolled up our sleeves and got down to brainstorming – voila,
        the <span class="textColorBlue">Bux Superstore</span> was born.</p>
      <p>
        The idea behind <span class="textColorBlue">Bux Superstore</span> is to ensure that the latest trendy apparel, accessories and other goods, from across the
        world, are available to all, at the best prices. We wanted to bring the latest and hottest styles from across the
        globe to all the citizens of the planet.
      </p>
      <h3 class="text-center textColorRed">Our Mission</h3>
      <p>
        To simplify buying products from around the World. We aim to provide customers with complete freedom – both in the choice
        of great products as well as the ability to pay with any currency – be it conventional paper money or cryptos.</p>
      <p>Simply put, we give you the freedom to shop safely wherever you are, whatever you want, with any currency, all through
        one global marketplace.</p>

      <h4 class="textColorBlue">How <span class="textColorBlue">Bux Superstore</span> Works?
      </h4>

      <p>Here, at <span class="textColorBlue">Bux Superstore</span>, you can cash in your Bux coins for a wide variety of goods spread across several categories.
        Some of the popular product categories in our store include – apparel (for both men and women), accessories, food,
        gaming, entertainment, home goods, décor, fitness equipment, and a wide array of official merchandise. </p>
      <p>Irrespective of what you’re looking for, we’re sure that you can find it at our store. Our team of product curators
        collect the best and latest products from all over the world and make them available in our marketplace.</p>

      <h4 class="textColorBlue">How is <span class="textColorBlue">Bux Superstore</span> Different from the Thousands of Online Marketplaces out there?</h4>
      <p>We believe that our core team is our biggest asset. Our team is made up of diverse individuals from various fields,
        who have been playing an active role in the crypto community for several years. They have both experience and expertise.
        We’re not new entrants in the field of blockchain and cryptos. </p>

      <p>What more, the <span class="textColorBlue">Bux Superstore</span> has been designed from scratch utilising the power of blockchain technology and our very
        own crypto token, the Bux Coin. </p>

      <p>When you shop with us, you are backed with versatile security and transparency offered by Bux coin, a decentralised
        peer-to-peer digital currency. Strong privacy policy, low shipping costs, authentic and high-quality products, secure
        and hassle-free online payment system are some of the advantages of shopping with us.</p>


      <h4 class="textColorBlue">Why <span class="textColorBlue">Bux Superstore</span>?</h4>
      <ul>
        <li>
          <b class="textColorBlue">Reliable Shopping</b> – We use blockchain technology to transform the ordinary online marketplace into a reliable
          shopping avenue. Transparent, consistent and robust, the <span class="textColorBlue">Bux Superstore</span> will emerge as your one-stop portal for
          all your shopping needs.</li>
        <li>
          <b class="textColorBlue">No Financial Borders</b> – Have you ever felt frustrated that a particular item you’re shopping for was not available
          in your geographical location? Well, no more! <span class="textColorBlue">Bux Superstore</span> uses multicurrency wallets, thereby allowing vendors
          and shoppers to interact with each other seamlessly, making it possible for hassle-free international payments.
          </li>
        <li>
          <b class="textColorBlue">Only Genuine Reviews</b> – Since the store’s software uses Smart Contracts, it eliminates fake and paid reviews
          from the site. All reviews posted on our store are 100% authentic, meaning you get the highest quality assurance
          while shopping at <span class="textColorBlue">Bux Superstore</span>.</li>
        <li>
          <b class="textColorBlue">Sell and Buy with Cryptocurrencies and fiat currencies</b> – All payments at <span class="textColorBlue">Bux Superstore</span> can be carried out
          using different cryptocurrencies along with traditional fiat currencies, and our very own Bux coins. This way,
          you get the option to choose your preferred currency, without having to go through unnecessary exchanges.</li>
        <li>
          <b class="textColorBlue">Low Shipping Costs</b> – Our products are available anywhere in the world, thanks to our widespread vendor network.
          What more, you can make use of our low shipping costs and get your products delivered right at your doorstep at
          pocket-friendly prices.</li>

      </ul>

      <p>
        Are you ready to experience online shopping like never before?

      </p>
      <p class="textColorBlue"> Head to our store and start loading your cart!</p>

    </div>
  </div>
</div>