<div class="block fullwidth full-nopad bottom-space top-null">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-12">
          <div class="banner style-6 autosize-text  banner-height" data-fontratio="19.2"><img src="assets/images/banners/banner-29.jpg" alt="Banner">
            <div class="banner-caption horl vertc">
              <div class="vert-wrapper">
                <div class="vert">
                  <div class="text-1">OPEN FOR VENDOR EMPANELMENT.</div>
                  <div class="text-2">VENDOR REGISTRATION FORM.</div>
                  <a href="{{appConfig.sellerLink}}" target="_blank"  class="banner-btn-wrap">
                    <div class="banner-btn text-hoverslide" data-hcolor="#cf0000"><span><span class="text">Register NOW</span><span class="hoverbg"></span></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>