<!-- Blog Carousel -->
<div class="title">
  <h2>From Blog</h2>
  <div class="carousel-arrows"></div>
</div>
<!-- Blog Carousel Item -->
<div class="blog-carousel">
  <div class="blog-item">
    <a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="assets/images/blog/blog-5.jpg" alt="From Blog"> </a>
    <div class="blog-item-info">
      <a href="blog.html" class="blog-item-title">Inventore consectetur ullam</a>
      <div class="blog-item-teaser">Repellat aspernatur esse minus. Molestiae ipsum earum, aspernatur fugit veniam ducimus doloremque repellat suscipit. Cumque!</div>
      <div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"> <span>Post by <a href="#">Admin</a></span> </span>
      </div>
    </div>
  </div>
  <!-- /Blog Carousel Item -->
  <!-- Blog Carousel Item -->
  <div class="blog-item">
    <a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="assets/images/blog/blog-6.jpg" alt="From Blog"> </a>
    <div class="blog-item-info">
      <a href="blog.html" class="blog-item-title">Aperiam, vero facilis</a>
      <div class="blog-item-teaser">Commodo delectus consequuntur consectetur culpa ea doloremque repellat laoreet semper tincidunt lorem Euismod euismod Suspendisse </div>
      <div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"> <span>Post by <a href="#">Admin</a></span> </span>
      </div>
    </div>
  </div>
  <!-- /Blog Carousel Item -->
  <!-- Blog Carousel Item -->
  <div class="blog-item">
    <a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="assets/images/blog/blog-7.jpg" alt="From Blog"> </a>
    <div class="blog-item-info">
      <a href="blog.html" class="blog-item-title">Repellat aspernatur</a>
      <div class="blog-item-teaser">Omnis, nihil hic ratione culpa atque ipsum repellat quaerat impedit, ipsam odio delectus consequuntur consectetur culpa ea doloremque repellat</div>
      <div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"> <span>Post by <a href="#">Admin</a></span> </span>
      </div>
    </div>
  </div>
  <!-- /Blog Carousel Item -->
  <!-- Blog Carousel Item -->
  <div class="blog-item">
    <a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="assets/images/blog/blog-8.jpg" alt="From Blog"> </a>
    <div class="blog-item-info">
      <a href="blog.html" class="blog-item-title">Commodo laoreet tincidunt</a>
      <div class="blog-item-teaser">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi provident earum minus delectus voluptatum asperiores consectetur culpa ea doloremque</div>
      <div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"><span>Post by <a href="#">Admin</a></span> </span>
      </div>
    </div>
  </div>
  <!-- /Blog Carousel Item -->
</div>
<!-- /Blog Carousel -->
      