


 
/*For OverFlowing Of Select Box in Filter HEader*/
select.form-control:not([size]):not([multiple]) {
  height: 35px !important;
}


.form-control[disabled], .form-control[readonly]{
    background-color: #e9ecef !important;
}


 .ui-table-resizable .ui-table-thead>tr>th input,.ui-widget input {
    border-radius: 0;
    padding-left: 3px;
    border: none;
}

.badge-info{
background-color:purple !important;
}

.badge-success{
    background-color:green !important;
}

.inputClass{
    width: 100%;
    border-radius: 0;
    border: none
}
.chat-container img.media-object {
    width: 40px;
    height: 40px;
  }
  .chat-container .media-list {
    -webkit-padding-start: 0;
  }
  .chat-container li.media {
    margin-bottom: 10px;
  }
  .chat-container li.media .media-left {
    padding-right: 10px;
  }
  .chat-container li.media .media-right {
    padding-left: 10px;
  }
  .chat-container li.media .media-body {
    padding: 0 6px;
    position: relative;
    overflow: visible;
  }
  .chat-container li.media .media-body .media-heading {
    padding-top: 5px;
    overflow: hidden;
  }
  .chat-container li.media .media-body .media-heading h6 {
    font-weight: 400;
  }
  .chat-container li.media .media-body .media-heading span {
    font-size: 11px;
    margin-top: 3px;
    color: #888;
  }
  .chat-container li.media .media-body .media-heading span i {
    font-size: 10px;
    margin-right: 3px;
  }
  .chat-container li.media .media-body p {
    margin-top: 4px;
    line-height: 1.2;
    font-size: 13px;
    letter-spacing: 0.03em;
    color: #555;
  }
  .chat-container li.media .media-body.left {
    background: #f1f1f1;
  }
  .chat-container li.media .media-body.left:before {
    content: "";
    border: 7px solid transparent;
    border-right-color: #f1f1f1;
    position: absolute;
    top: 18px;
    left: -14px;
  }
  .chat-container li.media .media-body.right {
    background: #f7f7f7;
  }
  .chat-container li.media .media-body.right:before {
    content: "";
    border: 7px solid transparent;
    border-left-color: #f7f7f7;
    position: absolute;
    top: 18px;
    right: -14px;
  }
  .chat-container i.send {
    font-size: 20px;
  }

  .modal-header{
    border-bottom: 1px solid #e9ecef;
}
.form-control{
  background: #f7f7f7 !important;
}