<div class="block textcolorBlack">
  <div class="container">
    <div class="col-12 my-5">
      <h3 class="text-center"> TERMS & CONDITIONS</h3>
      <hr>
      <p>
        Please read the following terms and conditions very carefully as your use of this service are subject to your
        acceptance
        and compliance with the following terms and conditions (“Terms”). By subscribing to or using any of our
        services
        you agree that you have read, understood and are bound by the Terms and conditions, regardless of how you
        subscribe
        to or use the services. If you do not want to be bound by the Terms, you must not subscribe to or use our
        services.
        In these Terms, references to “you”, “User” shall mean the end user accessing the Website, its contents and
        using
        the Services offered through the Website, “Service Providers” mean independent third party service providers,
        and
        “we”, “us” and “our” shall mean
        <span class="textColorBlue">Buxsuperstore.</span>
      </p>

      <h4 class="textColorBlue">INTRODUCTION</h4>
      <p>
        <span class="textColorBlue">Buxsuperstore.com</span> website (“Website”) is an Internet based content and
        e-commerce portal owned by
        <span class="textColorBlue">Buxsuperstore.</span>
      </p>

      <p>
        Use of the Website is offered to you on condition for acceptance without any modification of all the terms,
        conditions and
        notices contained in these Terms, as may be posted on the Website from time to time. The partnership firm at
        its
        sole discretion reserves the right not to accept a User from registering on the Website without assigning any
        reason
        thereof.
      </p>

      <h4 class="textColorBlue">USER ACCOUNT, PASSWORD, SECURITY</h4>
      <p>
        You will receive a password and designated unique account ID upon completing the Website’s registration
        process. You are
        responsible for maintaining the confidentiality of the password and account, and are fully responsible for all
        activities
        that occur under your password or account.</p>

      <p class="mb-0">You agree to</p>
      <p>(a) immediately notify the Company of any unauthorized use
        of your password or account or any other breach of security, and<br>
        (b) ensure that you exit from your account at the
        end of each session. The Company cannot and will not be liable for any loss or damage arising from your failure
        to
        comply with these terms & conditions.</p>


      <h4 class="textColorBlue">SERVICES OFFERED</h4>
      <p>
        The Company provides a number of Internet-based services through the Web Site (all such services, collectively,
        referred
        to as the “Service”)
      </p>

      <h4 class="textColorBlue">PRIVACY POLICY</h4>
      <p>
        The User hereby consents, expresses and agrees that he/she has read and fully understands the Privacy Policy of
        Buxsuperstore
        in respect of the Website. The user further consents that the terms and contents of such Privacy Policy are
        acceptable
        to him/her.
      </p>

      <h4 class="textColorBlue">LIMITED USER</h4>
      <p>The User agrees and undertakes not to reverse engineer, modify, copy, distribute, transmit, display, perform,
        reproduce,
        publish, license, create derivative works from, transfer, or sell any information or software obtained from
        this
        Website. For the removal of doubt, it is clarified that unlimited or wholesale reproduction, copying of the
        content
        for commercial or non-commercial purposes and unwarranted modification of data and information within the
        content
        of this Website is not permitted.</p>


      <h4 class="textColorBlue">USER CONDUCT & USE</h4>
      <p>You agree and undertake to use the Website and the Service only to post and upload messages and material that
        are proper
        to carry out lawful activities, and you agree and undertake that when using a Service, you will not:</p>
      <ul>
        <li>Defame abuse, harass, stalk, threaten or otherwise violate the legal rights of others;</li>
        <li>Publish post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing,
          obscene, indecent
          or unlawful topic, name, material or information;</li>
        <li>Falsify or delete any author attributions, legal or other proper notices or proprietary designations or
          labels of
          the origin or source of software or other material contained in a file that is uploaded;</li>
        <li>Violate any code of conduct or other guidelines, which may be applicable for or to any particular Service;</li>
        <li>Violate any of the terms and conditions of this Agreement or any other terms and conditions for the use of
          the Website
          contained elsewhere herein.</li>
      </ul>
      <h4 class="textColorBlue">
        EXACTNESS NOT GUARANTEED
      </h4>
      <p>
        <span class="textColorBlue">Buxsuperstore.com</span> hereby disclaims all guarantees of any sort with regard to
        the quality, contents, weight, finish
        and appearance of the final Product as ordered by the user. The quality of any products, Services, information,
        or
        other material purchased or obtained by you through the Website may not be identical to as depicted on the
        Website.
        In this instance you agree that
        <span class="textColorBlue">Buxsuperstore’s</span> return/exchange policy) shall be binding and enforceable in
        all respects.</p>

      <h4 class="textColorBlue">INTELLECTUAL PROPERTY</h4>
      <p>
        <span class="textColorBlue">Buxsuperstore.com</span> owns all Intellectual Property Rights to all content on
        this Website, including, goodwill,
        source code, meta tags, databases, text, content, graphics, icons, and hyperlinks. You acknowledge and agree
        that
        you shall not use, reproduce or distribute any content from the Website belonging to
        <span class="textColorBlue">Buxsuperstore.com</span> without obtaining authorization from
        <span class="textColorBlue">Buxsuperstore</span>.
        <span class="textColorBlue">Buxsuperstore.com</span> does not own any and all rights, title and interest in and
        to copyright, related rights, registered
        designs, trademarks, trade names, service marks, designs, know-how, trade secrets and inventions (whether
        patentable
        or not) to the products sold on
        <span class="textColorBlue">Buxsuperstore.com</span>
      </p>



      <h4 class="textColorBlue">LINKS TO THIRD PARTY SITES</h4>
      <p>The Website may contain links to other websites (“Linked Sites”). The Linked Sites are not under the control
        of
        <span class="textColorBlue">Buxsuperstore.com</span>
        or the Website and
        <span class="textColorBlue">Buxsuperstore.com</span> is not responsible for the contents of any Linked Site,
        including without limitation any link
        contained in a Linked Site, or any changes or updates to a Linked Site
        <span class="textColorBlue">Buxsuperstore.com</span> is not responsible for any form of transmission,
        whatsoever, received by you from any Linked
        Site.
        <span class="textColorBlue">Buxsuperstore.com</span> is providing these links to you only as a convenience, and
        the inclusion of any link does not
        imply endorsement by
        <span class="textColorBlue">Buxsuperstore</span> or the Website of the Linked Sites or any association with its
        operators or owners including the
        legal heirs or assigns thereof. The users are requested to verify the accuracy of all information on their own
        before
        undertaking any reliance on such information.</p>

      <h4 class="textColorBlue">COPYRIGHT INFRINGMENT, NOTICE & TAKE-DOWN PROCEDURE </h4>
      <p>
        <span class="textColorBlue">Buxsuperstore.com</span> sources all products on the website through third-party
        vendors and specifically prohibits
        the posting of any content, products or text that violates or infringes the copyright rights and/or other
        intellectual
        property rights (including rights of privacy and publicity) of any person or entity. If you believe that any
        material
        or product contained on this Site infringes your copyright or other intellectual property rights, you should
        notify
        us of your copyright infringement claim in accordance with the following procedure. </p>

      <ul>
        <li>To be effective, the notification must be in writing and contain the following information:</li>

        <li>Physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right
          that
          is allegedly infringed;</li>
        <li> Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works
          at a single
          online site are covered by a single notification, a representative list of such works at that site;</li>
        <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity
          and that
          is to be removed or access to which is to be disabled, and</li>
        <li>Information reasonably sufficient to permit the service provider to locate the material; information
          reasonably sufficient
          to permit the service provider to contact the complaining party, such as an address, telephone number, and,
          if
          available, an electronic mail address at which the complaining party may be contacted;</li>
        <li>A statement that the complaining party has a good faith belief that use of the material in the manner
          complained
          of is not authorized by the copyright owner, its agent, or the law; and</li>
        <li>A statement that the information in the notification is accurate, and under penalty of perjury, that the
          complaining
          party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>

      </ul>

      <h4 class="textColorBlue">DISCLAIMER OF WARRANTIES/ DISCLAIMER OF LIABILITIES</h4>
      <p>
        <span class="textColorBlue">Buxsuperstore.com</span> has endeavored to ensure that all the information on the
        Website is correct, but
        <span class="textColorBlue">Buxsuperstore.com</span> neither warrants nor makes any representations regarding
        the quality, accuracy or completeness
        of any data, information, product or Service. In no event shall
        <span class="textColorBlue">Buxsuperstore.com</span> be liable for any direct, indirect, punitive, incidental,
        special, consequential damages or
        any other damages resulting from: (a) the use or the inability to use the Services; (b) unauthorized access to
        or
        alteration of the user’s transmissions or data; (c) any other matter relating to the services; including,
        without
        limitation, damages for loss of use, data or profits, arising out of or in any way connected with the use or
        performance
        of the Website or Service. Neither shall
        <span class="textColorBlue">Buxsuperstore.com</span>
        be responsible for the delay or inability to use the Website or related services, the provision of or failure
        to provide
        Services, or for any information, software, products, services and related graphics obtained through the
        Website,
        or otherwise arising out of the use of the website, whether based on contract, tort, negligence, strict
        liability
        or otherwise. Further,
        <span class="textColorBlue">Buxsuperstore.com</span> shall not be held responsible for non-availability of the
        Website during periodic maintenance
        operations or any unplanned suspension of access to the website that may occur due to technical reasons or for
        any
        reason beyond the Company’s control. The user understands and agrees that any material and/or data downloaded
        or
        otherwise obtained through the Website is done entirely at their own discretion and risk and they will be
        solely
        responsible for any damage to their computer systems or loss of data that results from the download of such
        material
        and/or data.</p>


      <h4 class="textColorBlue">INDEMNIFICATION</h4>
      <p>You agree to indemnify, defend and hold harmless
        <span class="textColorBlue">Buxsuperstore.com</span> from and against any and all losses, liabilities, claims,
        damages, costs and expenses (including
        legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or
        incurred
        by
        <span class="textColorBlue">Buxsuperstore.com</span> that arise out of, result from, or may be payable by
        virtue of, any breach or non-performance
        of any representation, warranty, covenant or agreement made or obligation to be performed by you pursuant to
        these
        Terms.</p>


      <h4 class="textColorBlue">PRICING</h4>
      <p>Prices for products are described on our Website and are incorporated into these Terms by reference. All
        prices are
        in Dollar/Buxcoin. Prices, products and Services may change at the Company’s discretion. </p>


      <h4 class="textColorBlue">SHIPPING</h4>
      <p>Title and risk of loss for all products ordered by you shall pass on to you upon
        <span class="textColorBlue">Buxsuperstore.com</span> shipment to the shipping carrier.</p>



      <h4 class="textColorBlue">TERMINATION</h4>
      <p>
        <span class="textColorBlue">Buxsuperstore.com</span> may suspend or terminate your use of the Website or any
        Service if it believes, in its sole
        and absolute discretion that you have breached the terms of this website.</p>



      <ul>
        <li>
          <span class="textColorBlue">Buxsuperstore.com</span> may suspend or terminate your use of the Website or any
          Service if it believes, in its sole
          and absolute discretion that you have breached the terms of this website.</li>
        <li>Notwithstanding the above, these Terms will survive indefinitely unless and until
          <span class="textColorBlue">Buxsuperstore.com</span> chooses to terminate them.</li>
        <li>If you or
          <span class="textColorBlue">Buxsuperstore.com</span> terminates your use of the Website or any Service,
          <span class="textColorBlue">Buxsuperstore.com</span> may delete any content or other materials relating to
          your use of the Service and
          <span class="textColorBlue">Buxsuperstore.com</span> will have no liability to you or any third party for
          doing so. </li>
        <li>You shall be liable to pay for any Service or product that you have already ordered till the time of
          Termination
          by either party.</li>
      </ul>


      <h4 class="textColorBlue">GOVERNING LAW</h4>
      <p>These terms shall be governed by and constructed in accordance with the Government laws without reference to
        conflict
        of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of
        the
        courts at United Kingdom.</p>


      <h4 class="textColorBlue">HEADINGS</h4>
      <p>The headings and subheadings herein are included for convenience and identification only and are not intended
        to describe,
        interpret, define or limit the scope, extent or intent of the Terms or the right to use the Website by you
        contained
        herein or any other section or pages of the Website or any Linked Sites in any manner whatsoever.</p>

      <h4 class="textColorBlue">INTERPRETATION OF NUMBERS & GENDERS</h4>
      <p>The terms herein shall apply equally to both singular and plural form of the terms defined. whenever the
        context may
        require, any pronoun shall include the corresponding masculine and feminine. the words ‘include’, ‘includes’
        and
        ‘including’ shall be deemed to be followed by the phrase ‘without limitation’. unless the context otherwise
        requires,
        the terms ‘herein’ , ‘hereof’, ‘hereto’, ‘hereunder’, and words of similar import refer to the terms as a
        whole.</p>
      <p>If any provision of the Terms is determined to be invalid or unenforceable in whole or in part, such
        invalidity or
        unenforceability shall attach only to such provision or part of such provision and the remaining part of such
        provision
        and all other provisions of these Terms shall continue to be in full force and effect.</p>

      <h4 class="textColorBlue">REPORT ABUSE</h4>
      <p>
        As per these Terms, users are solely responsible for every material or content uploaded on to the Website.
        <span class="textColorBlue">Buxsuperstore.com</span> does not review the contents in any way before they appear
        on the Website.
        <span class="textColorBlue">Buxsuperstore.com</span> does not verify, endorse or otherwise vouch for the
        contents of any user or any content generally
        posted or uploaded on to the Website. Users can be held legally liable for their contents and may be held
        legally
        accountable if their contents or material include, for example, defamatory comments or material protected by
        copyright,
        trademark, etc. If you come across any abuse or violation of these Terms, please report to <span class="textColorBlue">support@buxsuperstore.com.</span>
      </p>


    </div>
  </div>
</div>