
<div class="block fullwidth full-nopad bottom-space">
  <div class="container"> 
    <!-- Main Slider -->
<div class="mainSlider" data-thumb="true" data-thumb-width="230" data-thumb-height="100">
  <!-- <div class="sliderLoader">Loading...</div> -->
  <!-- Slider main container -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" data-thumb="assets/images/slider/slide-03.jpeg" data-target="_blank">
        <!-- _blank or _self ( _self is default )-->
        <div class="wrapper">
          <figure><img src="assets/images/slider/slide-03.jpeg" alt=""></figure>
          <div class="text2-1 animate" data-animate="flipInY" data-delay="0"> {{appConfig.projectName}} </div>
          <div class="text2-2 animate" data-animate="bounceIn" data-delay="500"> the first </div>
          <div class="text2-3 animate" data-animate="bounceIn" data-delay="1000">  Crypto Currency backed </div>
          <div class="text2-4 animate" data-animate="rubberBand" data-delay="1500"> Shopping Portal </div>
          <div class="text2-5 animate" data-animate="hinge" data-delay="2000">   </div>
        </div>
      </div>
      <div class="swiper-slide" data-thumb="assets/images/slider/buxtshirt.png">
        <div class="wrapper">
          <figure><img src="assets/images/slider/buxtshirt.png" alt=""></figure>
          <div class="caption animate" data-animate="fadeIn">
            <div class="text1 animate" data-animate="flipInY" data-delay="0"> {{appConfig.projectName}} </div>
            <div class="text2 animate" data-animate="bounceInLeft" data-delay="500"> <strong>{{ 'NEW' | translate }}</strong> {{ 'COLLECTION' | translate }} </div>
            <div class="text3 animate" data-animate="bounceInLeft" data-delay="1500"><strong>{{ 'FASHION' | translate }}</strong> </div>
            <div class="animate" data-animate="fadeIn" data-delay="2000">
              <!-- coolbutton -->
              <a routerLink="/products" class="cool-btn" style="-webkit-clip-path: url(#coolButton); clip-path: url(#coolButton);"> <span>{{ 'MORE' | translate }}</span> </a>
              <svg class="clip-svg">
                <defs>
                  <clipPath id="coolButton" clipPathUnits="objectBoundingBox">
                    <polygon points="0 .18, .99 .15, .91 .85, .07 .8" />
                  </clipPath>
                </defs>
              </svg>
              <!-- // coolbutton -->
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-thumb="assets/images/slider/slide-08-thumb.jpg">
        <div class="wrapper">
          <figure><img src="assets/images/slider/slide-08.jpg" alt=""></figure>
          <div class="text3-1 animate" data-animate="bounceInDown" data-delay="0"> {{ 'STREET' | translate }} </div>
          <div class="text3-2 animate" data-animate="bounceInDown" data-delay="500"> {{ 'FASHION' | translate }} </div>
          <div class="text3-3 animate" data-animate="bounceInDown" data-delay="1000"> {{ 'AND' | translate }} </div>
          <div class="text3-4 animate" data-animate="bounceIn" data-delay="1500"> {{ 'LATEST' | translate }}</div>
          <div class="text3-5 animate" data-animate="bounceIn" data-delay="2000">{{ 'DESIGNS' | translate }}</div>
          <a routerLink="/products" class="text3-6 animate" data-animate="rubberBand" data-delay="2500">{{ 'SHOP_NOW' | translate }} </a>
        </div>
      </div>
      <div class="swiper-slide" data-thumb="assets/images/slider/slide-05-thumb.jpg">
        <div class="wrapper">
          <figure><img src="assets/images/slider/slide-05.jpg" alt=""></figure>
          <div class="text4-1 animate" data-animate="bounceInLeft" data-delay="0"></div>
          <div class="text4-2 animate" data-animate="bounceInDown" data-delay="500"></div>
          <div class="text4-3 animate" data-animate="bounceInUp" data-delay="1000"></div>
          <a routerLink="/products" class="text4-4 animate" data-animate="bounceInLeft" data-delay="1500">{{ 'SHOP_NOW' | translate }}</a>
        </div>
      </div>
    </div>
    <!-- pagination -->
    <div class="swiper-pagination"></div>
    <!-- pagination thumbs -->
    <div class="swiper-pagination-thumbs">
      <div class="thumbs-wrapper">
        <div class="thumbs"></div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Slider -->
  </div>
</div>
<!-- <div class="block fullwidth full-nopad">
  <div class="container">
    <div class="text-center bottom-space">
      <h1 class="size-lg no-padding">{{ 'WELCOME_TO' | translate }} <span class="logo-font custom-color">{{appConfig.projectName}}</span> </h1>
      <div class="line-divider col-12"></div>
      <div class="col-12 px-5 py-2">
        <p class="textpadding text-justify custom-color-alt">{{ 'ABOUT_BUX_SUPER_STORE' | translate }}
        </p>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="block fullwidth full-nopad">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="box style2 bgcolor1 text-center">
          <div class="box-icon"><i class="icon icon-truck"></i></div>
          <h3 class="box-title">{{ 'FREE_SHIPPING' | translate }}</h3>
          <div class="box-text">{{ 'FREE_SHIPPING_ALL_ORDERS_OVER' | translate }} {{appService?.selectedCurrency?.symbol}}199</div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="box style2 bgcolor2 text-center">
          <div class="box-icon"><i class="icon icon-dollar"></i></div>
          <h3 class="box-title">{{ 'MONEY_BACK' | translate }}</h3>
          <div class="box-text">{{ 'MONEY_BACK_GUARANTEE' | translate }}</div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="box style2 bgcolor3 text-center">
          <div class="box-icon"><i class="icon icon-help"></i></div>
          <h3 class="box-title">{{ 'ONLINE_SUPPORT' | translate }}</h3>
          <div class="box-text">{{ 'SERVICE_SUPPORT_FAST' | translate }}</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="block full-nopad fullwidth bottom-space" style="width: 1440px; margin-left: -720px;">	
  <div class="container">	
    <ross-banner></ross-banner>
  </div>
</div> -->
<div class="block bottom-space">
  <div class="container">
    <div class="row">
      <div class="col-12 backgroundAmazon">
        <ross-deals></ross-deals>
      </div>
    </div>
  </div>
</div>

<div class="block bottom-space">
  <div class="container">
    <div class="row">
      <div class="col-12 backgroundAmazon">
      <ross-popular-products></ross-popular-products>
    </div>
    </div>
  </div>
</div>

<div class="block bottom-space">
  <div class="container">
    <div class="row">
      <div class="col-12 backgroundAmazon">
     <ross-products-by-categories [category]="'Products-Accessories'"></ross-products-by-categories>
    </div>
    </div>
  </div>
</div>

<div class="block bottom-space" id="Products - Jewellery">
  <div class="container">
    <div class="row">
      <div class="col-12 backgroundAmazon">
     <ross-products-by-categories [category]="'Products-Jewellery'"></ross-products-by-categories>
    </div>
    </div>
  </div>
</div>



<div class="block bottom-space" id="Products - Handicraft">
  <div class="container">
    <div class="row">
      <div class="col-12 backgroundAmazon">
     <ross-products-by-categories [category]="'Products-Handicraft'"></ross-products-by-categories>
    </div>
    </div>
  </div>
</div>




<div class="block fullwidth full-nopad">
  <div class="container">
    <!-- <div id="instafeed" class="instagramm-feed-full">
        <a >
            <img  src="/assets/images/brands/brand-11.png" onerror="this.src='/assets/images/brands/brand-11.png'">
          </a>
          <a >
              <img  src="/assets/images/brands/brand-10.png" onerror="this.src='/assets/images/brands/brand-10.png'">
            </a>
            <a >
                <img  src="/assets/images/brands/brand-09.png" onerror="this.src='/assets/images/brands/brand-10.png'">
              </a>
              <a >
                  <img  src="/assets/images/brands/brand-08.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                </a>
                <a >
                    <img  src="/assets/images/brands/brand-07.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                  </a>
                  <a >
                      <img  src="/assets/images/brands/brand-06.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                    </a>
                    <a >
                        <img  src="/assets/images/brands/brand-05.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                      </a>
                      <a >
                          <img  src="/assets/images/brands/brand-04.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                        </a>
                        <a >
                            <img  src="/assets/images/brands/brand-03.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                          </a>
                          <a >
                              <img  src="/assets/images/brands/brand-02.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                            </a>
                            <a >
                                <img  src="/assets/images/brands/brand-11.png" onerror="this.src='/assets/images/brands/brand-11.png'">
                              </a>
                              <a >
                                  <img  src="/assets/images/brands/brand-10.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                </a>
                                <a >
                                    <img  src="/assets/images/brands/brand-09.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                  </a>
                                  <a >
                                      <img  src="/assets/images/brands/brand-08.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                    </a>
                                    <a >
                                        <img  src="/assets/images/brands/brand-07.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                      </a>
                                      <a >
                                          <img  src="/assets/images/brands/brand-06.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                        </a>
                                        <a >
                                            <img  src="/assets/images/brands/brand-05.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                          </a>
                                          <a >
                                              <img  src="/assets/images/brands/brand-04.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                            </a>
                                            <a >
                                                <img  src="/assets/images/brands/brand-03.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                              </a>
                                              <a >
                                                  <img  src="/assets/images/brands/brand-02.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                                </a>
                                                <a >
                                                    <img  src="/assets/images/brands/brand-11.png" onerror="this.src='/assets/images/brands/brand-11.png'">
                                                  </a>
                                                  <a >
                                                      <img  src="/assets/images/brands/brand-10.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                                    </a>
                                                    <a >
                                                        <img  src="/assets/images/brands/brand-09.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                                      </a>
                                                      <a >
                                                          <img  src="/assets/images/brands/brand-08.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                                        </a>
                                                        <a >
                                                            <img  src="/assets/images/brands/brand-07.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                                          </a>
                                                          <a >
                                                              <img  src="/assets/images/brands/brand-06.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                                            </a>
                                                            <a >
                                                                <img  src="/assets/images/brands/brand-05.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                                              </a>
                                                              <a >
                                                                  <img  src="/assets/images/brands/brand-04.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                                                </a>
                                                                <a >
                                                                    <img  src="/assets/images/brands/brand-03.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                                                  </a>
                                                                  <a >
                                                                      <img  src="/assets/images/brands/brand-02.png" onerror="this.src='/assets/images/brands/brand-10.png'">
                                                                    </a>
    </div> -->
    <div class="instagramm-title">{{appConfig.projectName}}</div>
  </div>
</div>




