<table width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%!important;table-layout:fixed" bgcolor="#ffffff">
  <tbody>
    <tr>
      <td valign="top" align="center">
        <div class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491wrapper" style="min-width:820px;margin:0 auto"
          align="center">
          <table bgcolor="#fcfcfc" width="800" border="0" cellpadding="0" cellspacing="0" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
            style="width:800px;margin:0 auto;border:solid 1px #e3e7ec;border-bottom:0;padding-top:20px;padding-bottom:20px">
            <tbody>
              <tr>
                <td align="center" dir="ltr">
                  <table bgcolor="#fcfcfc" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                    width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
                    <tbody>
                      <tr>
                        <td dir="ltr">
                          <a href="<%=templateInfo.temUrl%>"><img src="<%=templateInfo.clientLogo%>" alt="BuxSuperStore"
                              border="0" height="41" id="m_-3986923289735252255m_307618447986949820amazonLogo" style=""
                              width="108"></a>
                        </td>

                        <td class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491center"
                          dir="ltr" align="right" width="40%" valign="bottom" style="max-width:343px;vertical-align:bottom">
                          <img class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491header-img CToWUd a6T"
                            src="https://ci6.googleusercontent.com/proxy/1txyXgxKmKB4vq788jKpUR6MF_9gTyH_eU4pjpcg7LiFZQ_g9uriJ5Uv0YLpXUSL3sNC6H8sfkjoAvGNpZrFMiTgGF8=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/shipped-ne.png"
                            width="278" tabindex="0">
                          <div class="a6S" dir="ltr" style="opacity: 0.01; left: 720.344px; top: 436px;">
                            <div id=":13f" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment "
                              data-tooltip-class="a1V" data-tooltip="Download">
                              <div class="aSK J-J5-Ji aYr"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table dir="rtl" bgcolor="#fcfcfc" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                    width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">

                    <tbody>

                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>



          <table width="800" border="0" cellpadding="0" cellspacing="0" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
            style="width:800px;margin:0 auto;border:solid 1px #e3e7ec;border-top:0;border-bottom:0;padding-top:35px;padding-bottom:35px">
            <tbody>
              <tr>
                <td align="center" dir="ltr">
                  <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                    width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
                    <tbody>
                      <tr>
                        <td style="padding:5px">
                          <h3 style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:17px;font-weight:bold;line-height:1.24;letter-spacing:-0.1px;color:#4a4a4a;margin:0">Hello
                            <%=templateInfo.name%>
                          </h3>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:5px">
                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.62;color:#404553;letter-spacing:normal">We've
                            got great news. We wanted to let you know that your bux order (
                            <%=templateInfo.orderDetails[0].invoiceNo%>), has been dispatched.

                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:19px 5px 5px">
                          <table style="margin:0 auto;width:100%" cellspacing="2.5">
                            <tbody>
                              <tr>
                                <td style="width:8.23%;padding:0">
                                  <div style="width:100%;height:10px;background-color:#7ed321">
                                  </div>
                                </td>
                                <td style="width:20%;padding:0">
                                  <div style="width:100%;height:10px;background-color:#e2e5f1">
                                  </div>
                                </td>
                                <td style="width:49.67%;padding:0">
                                  <div style="width:100%;height:10px;background-color:#e2e5f1">
                                  </div>
                                </td>
                                <td style="width:22.1%;padding:0">
                                  <div style="width:100%;height:10px;background-color:#e2e5f1">
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>


                      <tr>
                        <td style="padding:5px">
                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:14px;line-height:1.22;color:#2f2f2f"><span
                              style="font-weight:bold;color:#7ed321">Ordered</span>:
                            <%=templateInfo.created%>
                          </p>
                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:14px;line-height:0.22;color:#2f2f2f"><span
                              style="font-weight:bold;color:#2c2d2c">Estimated delivery </span>:
                            <%=templateInfo.deliveryDate%>
                          </p><br>


                        </td>
                      </tr>


                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td align="center" dir="ltr" style="padding-top:30px;padding-bottom:25px">
                  <table dir="ltr" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                    width="610" border="0" cellpadding="0" cellspacing="5" style="width:610px;margin:0 auto;padding:0">
                    <tbody>
                      <tr>
                        <td width="50%" valign="top" align="left" style="background-color:#f8f9fb" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td">
                          <table align="left" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
                            valign="top" style="background-color:#f8f9fb;padding:16px 20px 6px 20px;box-sizing:border-box">
                            <tbody>
                              <tr>
                                <td colspan="2">
                                  <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;font-weight:bold;letter-spacing:0.2px;color:rgb(74,74,74);line-height:1.5;margin:0px;text-transform:uppercase">Order
                                    Summary
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;margin:0px;color:rgb(64,69,83)">Order
                                    No:
                                  </div>
                                </td>
                                <td style="padding-left:25px">
                                  <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:rgb(64,69,83);margin:0px;font-weight:600">
                                    <%=templateInfo.orderDetails[0].invoiceNo%>
                                  </div>
                                </td>
                              </tr>


                            </tbody>
                          </table>

                          <table align="left" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491bottom"
                            valign="top" style="background-color:#f8f9fb;padding:0 20px 6px;margin-bottom:5px;width:100%;box-sizing:border-box">
                            <tbody>
                              <tr>
                                <td>

                                  <a href="" style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;font-weight:600;line-height:1.5;color:#3866df;text-decoration:none"
                                    rel="noreferrer" target="_blank" data-saferedirecturl="">
                                    View Invoice
                                  </a>

                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </td>
                        <td width="50%" valign="top" align="right" style="background-color:#f8f9fb" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td">
                          <table align="left" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
                            valign="top" style="box-sizing:border-box;background-color:#f8f9fb;padding:16px 20px">
                            <tbody>
                              <tr>
                                <td>
                                  <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;letter-spacing:0.2px;color:rgb(74,74,74);line-height:1.5;font-weight:bold;text-transform:uppercase;margin:0px">Shipping
                                    Address
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:rgb(64,69,83);font-weight:600;margin:0px">
                                    <%=templateInfo.orderDetails[0].shipmentAddress.name%>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:rgb(64,69,83);margin:0px">
                                    <%=templateInfo.orderDetails[0].shipmentAddress.street%>
                                    <%=templateInfo.orderDetails[0].shipmentAddress.city%>
                                    <%=templateInfo.orderDetails[0].shipmentAddress.state%>,
                                    <%=templateInfo.orderDetails[0].shipmentAddress.zip%><br>
                                    <%=templateInfo.orderDetails[0].shipmentAddress.phone%>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <table align="left" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
                            valign="top" style="box-sizing:border-box;background-color:#f8f9fb;padding:0 20px 12px">
                            <tbody>
                              <tr>
                                <td>

                                  <a href="https://s.noon.com/UZMVrGVI5bM" style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;font-weight:600;line-height:1.5;color:#3866df;text-decoration:none"
                                    rel="noreferrer" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://s.noon.com/UZMVrGVI5bM&amp;source=gmail&amp;ust=1535461270202000&amp;usg=AFQjCNE8jG6HDKFNIxe7treC3_aXQhudvg">

                                    Track this Order

                                  </a>

                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td align="center" dir="ltr">
                  <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                    width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
                    <tbody>
                      <tr>
                        <td style="padding:0 5px">
                          <table width="600" style="min-width:100%!important;margin:0 auto;width:600px" align="center"
                            class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
                            cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td style="border-bottom:solid 1px #e2e5f1" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"></td>
                              </tr>
                            </tbody>
                          </table>

                          <h1 style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;font-weight:600;letter-spacing:0.2px;color:#4a4a4a;padding-top:15px;padding-left:8px;text-align:left">Sold
                            by&nbsp;BUX SuperStore
                          </h1>


                          <table width="600" style="margin:0 auto;padding:10px 8px;min-width:600px;width:600px" align="center"
                            class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                            cellpadding="0" cellspacing="0">
                            <tbody>
                              <%if (templateInfo.orderDetails.length > 0) { %>
                              <% templateInfo.orderDetails.forEach(function(order) { %>
                              <tr>
                                <td valign="middle" width="67.5" style="width:67.5px;padding-right:15px">
                                  <div style="width:67.5px">

                                    <div style="max-height:0;max-width:0;overflow:visible">
                                      <img align="left" src="<%=order.images[0]%>" style="width:61px" class="CToWUd">
                                    </div>
                                  </div>
                                </td>
                                <td valign="middle">

                                  <table style="margin:0" width="100%" dir="rtl">

                                    <tbody>
                                      <tr>
                                        <td dir="ltr" align="right" valign="top" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491left-td m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491 m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td">
                                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.31;text-align:left;color:#404553;padding-bottom:5px">
                                            Price:
                                            <%=templateInfo.price%>
                                          </p>
                                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;text-align:left;color:#7e859b;padding-bottom:10px">
                                            Shipping:
                                            <%=templateInfo.shipping%>
                                          </p>
                                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;text-align:left;color:#7e859b;padding-bottom:10px">
                                            total:
                                            <%=templateInfo.amount%>
                                          </p>

                                        </td>
                                        <td dir="ltr" valign="top" align="left" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491 m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"
                                          style="padding-left:0px;width:60px" ,>

                                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.31;text-align:left;color:#404553;padding-bottom:5px">
                                            <%=order.entityName%>
                                          </p>
                                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;text-align:left;color:#7e859b;padding-bottom:10px">Quantity
                                            :
                                            <%=order.quantity%>
                                          </p>




                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="border-bottom:solid 1px #e2e5f1;padding-top: 5px" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"></td>
                                <td style="border-bottom:solid 1px #e2e5f1;padding-top: 5px" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"></td>
                                <td style="border-bottom:solid 1px #e2e5f1;padding-top: 5px" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"></td>
                              </tr>

                              <% }); %>
                              <% } %>
                            </tbody>
                          </table>



                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>



              <tr>
                <td align="center" dir="ltr">
                  <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                    width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
                    <tbody>
                      <tr>
                        <td style="padding:20px 5px 0 5px">
                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.62;color:#404553;letter-spacing:normal">Love
                            your new buy? Share a picture on Instagram and tag us,&nbsp;when it arrives. Nothing makes
                            us
                            happier than seeing a new noon buy in its new home.</p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:18px 5px 0 5px">
                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:14px;font-weight:600;line-height:1.4;color:#4a4a4a"><br>The
                            BUX SuperStore team</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>


          <table bgcolor="#fcfcfc" width="800" border="0" cellpadding="0" cellspacing="0" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
            style="width:800px;margin:0 auto;border:solid 1px #e3e7ec;border-top:0;padding-top:20px;padding-bottom:20px">
            <tbody>
              <tr>
                <td align="center" dir="ltr">
                  <table bgcolor="#fcfcfc" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                    width="610" cellpadding="0" cellspacing="0" style="box-sizing:border-box;width:610px;margin:0 auto;padding:0 5px">
                    <tbody>
                      <tr>
                        <td align="left" style="padding-bottom:11px">
                          <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491gmailfix"
                            width="382" valign="center" align="left">
                            <tbody>
                              <tr>
                                <td>
                                  <table valign="center">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table>
                                            <tbody>
                                              <tr>
                                                <td>
                                                  <img src="https://ci5.googleusercontent.com/proxy/HTq1VzkPrb1jYKZIPhcYjpL1OGPsLG1JxRhfWD3SCrhT1hKSBdRrmJ3ZN9HAiIkD4RLa0Ztf7kb8PjeXm-8=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/info.png"
                                                    width="16" class="CToWUd">
                                                </td>
                                                <td>
                                                  <table>
                                                    <tbody>
                                                      <tr>
                                                        <td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;letter-spacing:0.3px;text-align:left;color:#a2a9bb">Help
                                                          Centre
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif!important;font-size:11px;font-weight:bold;text-align:left;color:#222632"><a
                                                            href="<%=templateInfo.temUrl%>" rel="noreferrer" target="_blank">help.renkomarket.com</a>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td>
                                  <table valign="center">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491center">
                                            <tbody>
                                              <tr>
                                                <td>
                                                  <img src="https://ci3.googleusercontent.com/proxy/sVHpJI1cG1EyPpexqoD3q5_NnFAm_WcwTcR_fdSyCV7B2gEEqfxzKt45aXdXDSt8RhH9YI7C6vks92WfYorW0N388mI=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/message_sl.png"
                                                    width="16" class="CToWUd">
                                                </td>
                                                <td>
                                                  <table>
                                                    <tbody>
                                                      <tr>
                                                        <td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif!important;font-size:10px;letter-spacing:0.3px;text-align:left;color:#a2a9bb">Email
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif!important;font-size:11px;font-weight:bold;text-align:left;color:#222632"><a
                                                            href="mailto:support@buxsuperstore.com">Support@buxsuperstore.com</a>"
                                                          rel="noreferrer" target="_blank">buxsuperstore@gmail.com</a>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td>
                                  <table valign="center">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491center">
                                            <tbody>
                                              <tr>
                                                <td><img src="https://ci3.googleusercontent.com/proxy/FjMuj65pdLIglkHYvd6lWUDrCm5ho3IqH_27TOGWVy3AEBuJxJSyJ6IP3-2IDBlavhdOLpdjVpiSqrs87NsYNSU3=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/Phone_sl.png"
                                                    width="16" class="CToWUd">
                                                </td>
                                                <td>
                                                  <table>
                                                    <tbody>
                                                      <tr>
                                                        <td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;letter-spacing:0.3px;text-align:left;color:#a2a9bb">Phone
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:11px;font-weight:bold;text-align:left;color:#222632"
                                                          valign="top">
                                                          800-38888
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
                            width="157" valign="center" align="right">
                            <tbody>
                              <tr>
                                <td style="padding:15px">
                                  <a href="https://www.facebook.com/bux.superstore.92" rel="noreferrer" target="_blank"
                                    width="6" style="margin:0 auto" class="CToWUd"></a>
                                </td>
                                <td style="padding:15px">
                                  <a href="https://twitter.com/BuxSuperstore" rel="noreferrer" target="_blank" width="13"
                                    style="margin:0 auto" class="CToWUd"></a>
                                </td>
                                <td style="padding:15px">
                                  <a href="https://www.instagram.com/buxsuperstore/" rel="noreferrer" target="_blank"
                                    width="13" style="margin:0 auto" class="CToWUd"></a>
                                </td>

                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" dir="ltr">
                          <table border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;border-top:2px solid #e3e7ec;padding:10px 0 10px 0"
                            class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width">
                            <tbody>
                              <tr>
                                <td width="60%" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                                  style="padding:8px;font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092">
                                  You are receiving this email as&nbsp;<strong><a href='<%=templateInfo.email%>' rel="noreferrer"
                                      target="_blank">
                                      <%=templateInfo.email%></a></strong>&nbsp;is registered on <a href="<%=templateInfo.temUrl%>"
                                    rel="noreferrer" target="_blank">shop.renkomarket.com</a>.
                                </td>
                                <td width="40%" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td">
                                  <table width="230" style="width:230px;margin:0 auto" align="center" valign="middle">
                                    <tbody>
                                      <tr>
                                        <td align="center">
                                          <table width="220" style="width:220px;margin:0 auto" align="center" valign="middle">
                                            <tbody>
                                              <tr style="margin:0 auto" align="center">
                                                <td>

                                                  <a href="https://play.google.com/store/apps/details?id=com.noon.buyerapp"
                                                    style="text-decoration:none" rel="noreferrer" target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.noon.buyerapp&amp;source=gmail&amp;ust=1535461270204000&amp;usg=AFQjCNHRCtiqp6SmxwfhJbKtvuKCc1ip0Q"><img
                                                      src="https://ci6.googleusercontent.com/proxy/ChNK9um8rEHNAwQHx8Sf5OzoB0W57Gcaxq5O5fufSOBMPhGf3Fctx_OBkHREF5AP9-XL790ySy1sJue72ILzw__xTDWXOYgR=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/Google_Play_en.png"
                                                      width="96" style="margin-right:11px;display:inline-block" class="CToWUd"></a>
                                                  <a href="https://itunes.apple.com/app/noon-%D9%86%D9%88%D9%86/id1269038866?ls=1&amp;mt=8"
                                                    style="text-decoration:none" rel="noreferrer" target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://itunes.apple.com/app/noon-%25D9%2586%25D9%2588%25D9%2586/id1269038866?ls%3D1%26mt%3D8&amp;source=gmail&amp;ust=1535461270204000&amp;usg=AFQjCNGKycpZcPWKdOoWi1dpI37jSsP9gQ"><img
                                                      src="https://ci4.googleusercontent.com/proxy/rxOthJ8oVPATyBIouB1tiAS2MikaR4X9lpFrjA9gfZgLMHEXx5n6nzImfJedHSLEYD6MsTqaRtuCtJLsIzZFgAu56t5Q6g=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/App_Store_en.png"
                                                      width="96" style="display:inline-block" class="CToWUd"></a>

                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td width="60%" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"
                                  style="padding:8px;font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092">
                                  2018 Bux SuperStore.
                                </td>
                                <td width="40%" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"
                                  style="padding:8px 0">
                                  <div style="margin:0 auto;text-align:center">
                                    <a href="<%=templateInfo.temUrl%>/policy" style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092;text-decoration:underline"
                                      rel="noreferrer" target="_blank">
                                      Privacy Policy</a> &nbsp;
                                    <a href="https://www.noon.com/en-ae/terms-of-use?utm_source=C1000002L&amp;utm_medium=email&amp;utm_content=tou_ft&amp;utm_campaign=C1000000646N_ae_en_web_egall_b_"
                                      style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092;text-decoration:underline"
                                      rel="noreferrer" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.noon.com/en-ae/terms-of-use?utm_source%3DC1000002L%26utm_medium%3Demail%26utm_content%3Dtou_ft%26utm_campaign%3DC1000000646N_ae_en_web_egall_b_&amp;source=gmail&amp;ust=1535461270204000&amp;usg=AFQjCNHc8YWYlm-N1ejozNgfQUhPIKUy1g">
                                      Terms of Use</a> &nbsp;
                                    <a href="https://www.noon.com/en-ae/?terms-of-sale?utm_source=C1000002L&amp;utm_medium=email&amp;utm_content=tos_ft&amp;utm_campaign=C1000000646N_ae_en_web_egall_b_"
                                      style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092;text-decoration:underline"
                                      rel="noreferrer" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.noon.com/en-ae/?terms-of-sale?utm_source%3DC1000002L%26utm_medium%3Demail%26utm_content%3Dtos_ft%26utm_campaign%3DC1000000646N_ae_en_web_egall_b_&amp;source=gmail&amp;ust=1535461270204000&amp;usg=AFQjCNHfAaVAQCJsMp05IUo6tPFgpulQxA">
                                      Terms of Sale</a> &nbsp;
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="yj6qo"></div>
<div class="adL">
</div>
</div>
<div class="adL">
</div>
</blockquote>
</div>
</div>