<div align="center">
  <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 771px; border-collapse: collapse">
    <tbody>
      <tr>
        <td valign="top" style="background-color: rgb(255, 255, 255); padding: 0in; background-position: initial initial; background-repeat: initial initial">
          <div align="center">
            <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" align="left" width="100%" style="width: 100%;margin: 10px 0; border-collapse: collapse">
              <tbody>
                <tr>
                  <td valign="top" style="padding: 0in 6.75pt">
                    <div style="margin: 0in 0in 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif; text-align: center">
                      <img width="150" id="_x0000_i1025" src="{{templateInfo.clientLogo}}">
                      <!-- o ignored -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td valign="top" id="templateBody" style="background-color: white; padding: 20.25pt 0in 47.25pt; background-size: cover; background-position: 50% 50%; background-repeat: initial initial">
          <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" align="left" width="100%" style="width: 771px; border-collapse: collapse; margin-left: -1.5pt; margin-right: -1.5pt; max-width: 100%; min-width: 100%">
            <tbody>
              <tr>
                <td width="600" valign="top" style="width: 6.25in; padding: 0in; max-width: 100%; min-width: 100%">
                  <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" align="left" width="100%" style="width: 771px; border-collapse: collapse; word-break: break-word">
                    <tbody>
                      <tr>
                        <td valign="top" style="padding: 0in 13.5pt 6.75pt">
                          <h2 align="left" style="margin: 0in 0in 0.0001pt; font-size: 18pt; font-family: 'Times New Roman', serif; text-align: left; line-height: 31.5pt">
                            <span style="font-size: 21pt; font-family: Helvetica, sans-serif">{{templateInfo.websiteName}} login code:
                              <span style="color: rgb(34, 34, 34)">
                                <!-- o ignored -->
                              </span>
                            </span>
                          </h2>
                          <p class="MsoNormal" style="margin: 0in 0in 7.5pt; font-size: 12pt; font-family: 'Times New Roman', serif; line-height: 18pt">
                            <span style="font-family: Helvetica, sans-serif; color: gray">&nbsp;</span>
                            <!-- o ignored -->
                          </p>
                          <p class="MsoNormal" align="left" style="margin: 0in 0in 7.5pt; font-size: 12pt; font-family: 'Times New Roman', serif; text-align: left; line-height: 18pt">
                            <span style="font-family: Helvetica, sans-serif; color: gray; text-transform: uppercase;">{{templateInfo.name}},&nbsp;
                              <br>
                              <br>
                            </span>
                            <span style="font-family: Helvetica, sans-serif; color: rgb(118, 113, 113)">To complete your sign in, please enter the following code:
                              <!-- o ignored -->
                            </span>
                          </p>
                          <p class="MsoNormal" align="center" style="margin: 0in 0in 7.5pt; font-size: 12pt; font-family: 'Times New Roman', serif; text-align: center; line-height: 18pt">
                            <span style="font-family: Helvetica, sans-serif">
                              <!-- o ignored -->&nbsp;</span>
                          </p>
                          <p class="MsoNormal" align="center" style="margin: 0in 0in 7.5pt; font-size: 12pt; font-family: 'Times New Roman', serif; text-align: left; line-height: 18pt">
                            <b>
                              <span style="font-size: 18pt; font-family: Helvetica, sans-serif">{{templateInfo.verificationCode}}</span>
                            </b>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td valign="top" id="templateFooter" style="background-color: rgb(51, 51, 51); background-size: cover; background-position: 50% 50%; background-repeat: initial initial">
          <div style="position: relative; padding: 0px 20px;margin: 0 auto;background-color: #333333;font-family: 'latolight';font-size: 14px;color: #ffffff;padding: 17px 0px 19px; flex-shrink: 0;">
            <div style="position: relative;">
              <div style="float: none;text-align: center; padding: 5px 0px; position: relative; z-index: 5;">
                © 2018 {{templateInfo.websiteName}}, LLC. All rights reserved.
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>