<div class="block textcolorBlack">
  <div class="container">
    <div class="col-12 my-5">
      <h3 class="text-center textColorBlue">RETURNS</h3>

      <p>You are eligible to return or exchange the items you purchased that are unused, unworn and in same condition as delivered
        and still have the tag attached.</p>

      <p>Notify us within 3-4 days of receiving your order for exchange or return. Only one exchange per transaction.</p>

      <p>You can claim to credit the amount to your
        <span class="textColorBlue">Buxsuperstore</span> Account as well and you can use it to make other purchases from our website whenever you want.
        Your account does not expire.</p>

      <p>Do ensure the item(s) is intact and in original condition. Upon receipt of the article at the warehouse, it is inspected
        and accordingly a return/exchange transaction is initiated. If the item is found damaged or altered, it is returned
        to the customer.</p>

      <p>We do not take returns on discounted items and do not provide any refunds.</p>
    </div>
  </div>
</div>




<div class="block textcolorBlack">
  <div class="container">
    <div class="col-12 my-5">
      <h3 class="text-center textColorBlue">SHIPPING</h3>

      <p>Our Vendors pay extra attention to details like packaging and handling to ensure that your items reach you in the expected condition.
        Buxsuperstore offers worldwide shipping on all orders. We have the best logistics service providers in place to ensure
        that your orders reach you safely and well in time.</p>
      <h4 class="textColorBlue">DELIVERY TIME</h4>
      <p>All orders are processed within 5-7 working days. It is our constant effort to deliver your purchase to you in time,
        still there may be some unforeseen circumstances under which your order may take longer. Under such circumstances,
        we will notify you of the delay immediately.</p>
    </div>
  </div>
</div>