table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
modal-body{
    max-height: calc(100vh - 500px);
    overflow-y: auto;   
}