<div class="card overflowvisible" widget="">
  <div class="card-header">
    <span class="card-heading text-uppercase">Subscribers</span>
    <!--Widget Controls-->
    <div class="widget-controls">
      <button class="btn btn-outline-info btn-rounded btn-xs" type="button" data-backdrop="static" data-keyboard="false" (click)="dt.exportCSV()">
        <i class="fa fa-file-o"></i>&nbsp;Export to CSV
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs" type="button" (click)="getTotalSubscriber()">
        <span class="fa fa-refresh"></span>
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs transition" type="button" data-widgster="expand" style="display: none;">
        <span class="fa fa-chevron-down"></span>
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs transition" type="button" data-widgster="collapse">
        <span class="fa fa-chevron-up"></span>
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs transition" type="button" data-widgster="fullscreen">
        <span class="fa fa-expand"></span>
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs transition" type="button" data-widgster="restore" style="display: none;">
        <span class="fa fa-compress"></span>
      </button>
    </div>
    <!--WidgetControls-->
  </div>
  <div class="card-body widget-body">
    <!-- Global Filter-->
    <div class="row">
      <div class="col-sm-4 ml-auto">
        <div class="input-group input-group-sm bottom-15">
          <input type="text" class="form-control" placeholder="Search Name/Email/Phone" (input)="dt.filterGlobal($event.target.value, 'contains')">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--End Of Global Filter-->

    <!-- P-Table -->
    <p-table #dt class="overflowvisible" [value]="totalSubscribers" [columns]="ExportCsv" exportFilename="Subscribers" [lazy]="true" (onLazyLoad)="getTotalSubscriber($event)"
      [paginator]="true" [rows]="appService.rowNum" [rowsPerPageOptions]="appService.rowValue" [totalRecords]="totalRecords"
      [responsive]="true" [resizableColumns]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn class="width_50px">S.No</th>
          <th pResizableColumn >Merchant
            <span [pSortableColumn]="'sellerName'">
              <p-sortIcon [field]="'sellerName'"></p-sortIcon>
            </span>
            <input pInputText type="text" class="width_100" (input)="dt.filter($event.target.value,'sellerName','startsWith')" placeholder="Search">
          </th>            
          <th pResizableColumn >Plan Name
            <span [pSortableColumn]="'planName'">
              <p-sortIcon [field]="'planName'"></p-sortIcon>
            </span>
            <input pInputText type="text" class="width_100" (input)="dt.filter($event.target.value,'planName','startsWith')" placeholder="Search">
          </th>
          <th pResizableColumn  >Amount
            <span [pSortableColumn]="'actualAmount'">
              <p-sortIcon [field]="'actualAmount'"></p-sortIcon>
            </span>
            <input pInputText type="text" class="width_100" (input)="dt.filter($event.target.value,'actualAmount','startsWith')" placeholder="Search">            
          </th> 
          <th pResizableColumn >Duration
            <span [pSortableColumn]="'duration'">
              <p-sortIcon [field]="'duration'"></p-sortIcon>
            </span>
             <input pInputText type="text" class="width_100" (input)="dt.filter($event.target.value,'duration','equals')" placeholder="Search">
          </th>          
          <th pResizableColumn >Start Date
            <span [pSortableColumn]="'startDate'">
              <p-sortIcon [field]="'startDate'"></p-sortIcon>
            </span>
            <input pInputText type="text" class="width_100" (input)="dt.filter($event.target.value,'startDate','startsWith')" placeholder="Search">
          </th>
          <th pResizableColumn  >Expiry Date
            <span [pSortableColumn]="'endDate'">
              <p-sortIcon [field]="'endDate'"></p-sortIcon>
            </span>
            <input pInputText type="text" class="width_100" (input)="dt.filter($event.target.value,'endDate','startsWith')" placeholder="Search">
          </th>                
          <th pResizableColumn class="width_70px">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-subscribe>
        <tr>
          <td>{{subscribe.srNo}}</td>
          <td>
            <a routerLink="/details/Merchant" [queryParams]="{id:subscribe.sellerId}">{{subscribe.sellerName}}</a>
          </td>
          <td >{{subscribe.planName}}</td>
          <td class="text-right">{{subscribe.actualAmount}}</td>
          <td class="text-center">{{subscribe.duration}}</td>
          <td>{{ appService.getDisplayDateFormat(subscribe.startDate)}}</td>         
          <td>{{appService.getDisplayDateFormat(subscribe.endDate)}}</td>
          <td class="text-center">
            <span class="badge badge-danger pointer cursor mr-1" title="Delete" (click)="onClickActions('delete',subscribe)">
              <i class="fa fa-trash"></i>
            </span>         
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
         <tr>
            <td [attr.colspan]="columns.length">
                 No Records Found 
            </td>
         </tr>
      </ng-template>       
      </p-table>
      <!--End Of Ptable-->
  </div>

</div>


<!--Delete Modal for Deleting -->
<div class="modal fade" id="delete">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title text_center">Are you sure to delete the record?</div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer text_center border_top">
        <button type="button" class="btn btn-outline-info transition btn-rounded float-right btn-sm" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-outline-info transition btn-rounded float-right btn-sm" (click)="deleteSubscriber()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--Delete Modal End-->
