
<div class="title">Registered Customers </div>
<div class="top-text">If you have an account with us, please log in.</div>
<!-- form -->
<form [formGroup]="form" (ngSubmit)="onSubmitLogin(form)">
    <input [maxlength]="50" [formControl]="form.controls['email']"  [(ngModel)]='email' class="form-control" placeholder="Email" type="text">
    <span class="text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">Email is required</span>                              
    <span class="text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('invalidEmailAddress')">Invalid email address</span>
 
  <input [maxlength]="30" [formControl]="form.controls['password']"  [(ngModel)]='password' class="form-control" placeholder="Password" type="password">
  <span class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is required</span>                              
  <button type="submit" class="btn" [disabled]="disabled">Sign in</button>
  <div><a class="anchor" routerLink="/forgotPassword" >Forgot Password</a></div>
</form>
<!-- /form -->
<div class="title">OR</div>
<div class="bottom-text">Create a <a class="anchor" routerLink="/create">New Account</a></div>

