<div class="card overflowvisible" widget="">
  <!-- Form header content start -->
  <div class="card-header">
    <span class="card-heading text-uppercase">Employees</span>

    <div class="widget-controls">
      <button class="btn btn-outline-info btn-rounded btn-xs" type="button" data-backdrop="static" data-keyboard="false" (click)="onClickAction('add')">
        Add New Employee
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs" type="button" data-backdrop="static" data-keyboard="false" (click)="dt.exportCSV()">
        <i class="fa fa-file-o"></i>&nbsp;Export to CSV
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs" type="button" (click)="getAllEmployees('')">
        <span class="fa fa-refresh"></span>
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs transition" type="button" data-widgster="expand" style="display: none;">
        <span class="fa fa-chevron-down"></span>
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs transition" type="button" data-widgster="collapse">
        <span class="fa fa-chevron-up"></span>
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs transition" type="button" data-widgster="fullscreen">
        <span class="fa fa-expand"></span>
      </button>
      <button class="btn btn-outline-info btn-rounded btn-xs transition" type="button" data-widgster="restore" style="display: none;">
        <span class="fa fa-compress"></span>
      </button>
    </div>
  </div>
  <!-- Form header content end -->

  <!-- Global filter content start-->
  <div class="card-body widget-body">
    <div class="row">
      <div class="col-sm-4 ml-auto">
        <div class="input-group input-group-sm bottom-15">
          <input type="text" class="form-control" placeholder="Search Name/Phone/Email/Address" (input)="dt.filterGlobal($event.target.value, 'contains')">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Table body content start -->
    <p-table #dt [value]="employeeList" (onLazyLoad)="getAllEmployees($event)" [columns]="columns" exportFilename="Employees" class="overflowvisible" [responsive]="true"
      [resizableColumns]="true" [lazy]="true" [paginator]="true" [rows]="appService.rowNum" [totalRecords]="totalRecords" [rowsPerPageOptions]="appService.rowValue">
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn class="widthSNo">S.No</th>
          <th pResizableColumn>Name
            <span [pSortableColumn]="'firstName'">
              <p-sortIcon [field]="'firstName'"></p-sortIcon>
            </span>
            <input pInputText type="text"  (input)="dt.filter($event.target.value,'firstName','startsWith')" placeholder="Search">
          </th>
          <th pResizableColumn class="width120">Phone
            <span [pSortableColumn]="'phoneNumber'">
              <p-sortIcon [field]="'phoneNumber'"></p-sortIcon>
            </span>
            <input pInputText type="text"  (input)="dt.filter($event.target.value,'phoneNumber','startsWith')" placeholder="Search">
          </th>
          <th pResizableColumn>Email
            <span [pSortableColumn]="'email'">
              <p-sortIcon [field]="'email'"></p-sortIcon>
            </span>
            <input pInputText type="text"  (input)="dt.filter($event.target.value,'email','startsWith')" placeholder="Search">
          </th>
          <th pResizableColumn class="widthAddress">Address
            <span [pSortableColumn]="'address.address'">
              <p-sortIcon [field]="'address.address'"></p-sortIcon>
            </span>
            <input pInputText type="text"  (input)="dt.filter($event.target.value,'address.address','startsWith')" placeholder="Search">
          </th>
          <th pResizableColumn class="widthRole">Role
            <span [pSortableColumn]="'role'">
              <p-sortIcon [field]="'role'"></p-sortIcon>
            </span>
            <p-dropdown appendTo="body" [options]="Roles" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,'role', 'equals')"></p-dropdown>
          </th>
          <th pResizableColumn class="text-center width100">Status
            <p-dropdown appendTo="body" [options]="employeeStatus" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,'status', 'equals')"></p-dropdown>
          </th>
          <th pResizableColumn class="text-center width100">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr>
          <td>{{employee.srNo}}</td>
          <td class='linkColor' (click)="onClickAction( 'view' , employee)">{{employee.firstName+" "+employee.lastName}}</td>
          <td>{{employee.phoneNumber}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee?.address?.address}}</td>
          <td>
              <span *ngIf="employee.role" class="badge badge-{{ appService.getStatusColor(employee.role) }}"> {{ employee.role }} </span>   
          </td>
          <td>
            <span *ngIf="employee.status" class="badge badge-{{ appService.getStatusColor(employee.status) }}" >{{employee.status }}</span>
          </td>
          <td class="text-center">
            <span (click)="onClickAction( 'edit' , employee)" class="badge badge-primary cursor" data-toggle="tooltip" title="Edit">
              <i class=" fa fa-edit"></i>
            </span>&nbsp;
            <span (click)="onClickAction( 'delete' , employee)" class="badge badge-danger cursor" data-toggle="tooltip" title="Delete">
              <i class=" fa fa-trash-o"></i>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
         <tr>
            <td colspan="8">
                 No Records Found 
            </td>
         </tr>
      </ng-template>       
    </p-table>
  </div>
</div>
<!-- Table body content end -->

<!-- Create or update employee modal box content start -->
<div class="modal fade" id="addOrEdit" role="dialog">
  <div class="modal-dialog modal-md modal-dialog-centered margi_top_90">
    <div class="modal-content">
      <div class="modal-header noborder">
        <div class="col-sm-12 ">
          <ng-template [ngIf]="employeeData._id" [ngIfElse]="addEdit">
            <h5>Edit Employee</h5>
          </ng-template>
          <ng-template #addEdit>
            <h5>Add Employee</h5>
          </ng-template>
        </div>
      </div>
      <div class="modal-body padding">
        <form [formGroup]="employeeForm" novalidate>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label m-t-5 text-right" for="firstName">First Name</label>
            <div class="col-sm-9">
              <input [ngClass]="{active:submitted && employeeForm.controls['firstName'].invalid }" [maxlength]="20" [formControl]="employeeForm.controls['firstName']"
                class="form-control" type="text" name="firstName" [(ngModel)]="employeeData.firstName">
              <span class="help-block text-danger" *ngIf="employeeForm.get('firstName').touched && employeeForm.get('firstName').invalid">Maximum of 20 characters</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label m-t-5  text-right" for="lastName">Last Name</label>
            <div class="col-sm-9">
              <input [ngClass]="{active:submitted && employeeForm.controls['lastName'].invalid}" [maxlength]="20" [formControl]="employeeForm.controls['lastName']"
                class="form-control" type="text" name="lastName" [(ngModel)]="employeeData.lastName">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label m-t-5  text-right" for="email">Email</label>
            <div class="col-sm-9">
              <input type="text" [ngClass]="{active:submitted && employeeForm.controls['email'].invalid}" [formControl]="employeeForm.controls['email']"
                class="form-control" [(ngModel)]="employeeData.email">
              <span class="help-block text-danger" *ngIf="employeeForm.get('email').touched && employeeForm.get('email').invalid">Enter valid email</span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 form-control-label m-t-5  text-right" for="phoneNumber">Phone</label>
            <div class="col-sm-9">
              <input [maxlength]="15" [minlength]="10" [ngClass]="{active:submitted && employeeForm.controls['phoneNumber'].invalid}" [formControl]="employeeForm.controls['phoneNumber']" [(ngModel)]="employeeData.phoneNumber"
              type="text"
              class="form-control" (keypress)="appService.Validate($event,'int')" >
              <span class="help-block text-danger" *ngIf="employeeForm.get('phoneNumber').touched && employeeForm.get('phoneNumber').invalid">Minimum of 10 Numbers</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label m-t-5  text-right" for="address">Address</label>
            <div class="col-sm-9">
              <input [formControl]="employeeForm.controls['address1']" class="form-control" type="text" min="0" name="address" [(ngModel)]="employeeData.address1">
              <span class="help-block text-danger" *ngIf="employeeForm.get('address1').touched && employeeForm.get('address1').invalid">Maximum of 15 characters</span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 form-control-label m-t-5  text-right" for="address">Role</label>
            <div class="col-sm-9">
               <p-dropdown   [options]="Roles" [style]="{'width':'100%'}"  placeholder="Select Role" 
                [(ngModel)] = "employeeData.role"  [formControl]="employeeForm.controls['role']"
                  ></p-dropdown>
               <span class="help-block text-danger" *ngIf="submitted  && employeeForm.get('role').invalid">Please Select Role</span>
           </div>
          </div>

        </form>
        <div class="form-group row text-right">
          <div class="col-sm-12" role="group" aria-label="Second group">
            <button class="btn btn-outline-info btn-rounded btn-sm" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-outline-info btn-rounded btn-sm" (click)="createOrUpdateEmployee(employeeForm)" type="submit">
              <ng-template [ngIf]="employeeData._id" [ngIfElse]="createUpdate">
                <span>Update</span>
              </ng-template>
              <ng-template #createUpdate>
                <span>Create</span>
              </ng-template>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create or update employee modal box content end -->

<!-- Delete modal-box content start -->

<!-- The Modal -->
<div class="modal fade" id="deleteEmployee">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title text_center">Are you sure to delete the record?</div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer text_center border_top">
        <button type="button" class="btn btn-outline-info transition btn-rounded float-right btn-sm" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-outline-info transition btn-rounded float-right btn-sm" (click)="deleteEmployee()">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete modal-box content end -->

<!-- View modal box content start -->
<!-- The Modal -->
<div class="modal" id="viewEmployee" role="dialog">
  <div class="modal-dialog modal-md  modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title text-color">
          <b>Employee Details</b>
        </h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col bottom-30">
          <div *ngIf="employeeData.firstName" class="row">
            <dt class="col-sm-5 text-right">First Name :</dt>
            <dd class="col-sm-7">{{employeeData.firstName}}</dd>
          </div>

          <div *ngIf="employeeData.lastName" class="row">
            <dt class="col-sm-5 text-right">Last Name :</dt>
            <dd class="col-sm-7">{{employeeData.lastName}}</dd>
          </div>

          <div *ngIf="employeeData.email" class="row">
            <dt class="col-sm-5 text-right">Email :</dt>
            <dd class="col-sm-7"> {{employeeData.email}}</dd>
          </div>

          <div *ngIf="employeeData.phoneNumber" class="row">
            <dt class="col-sm-5  text-right">Phone :</dt>
            <dd class="col-sm-7"> {{employeeData.phoneNumber}}</dd>
          </div>

          <div *ngIf="employeeData.address" class="row">
            <dt class="col-sm-5  text-right">Address :</dt>
            <dd class="col-sm-7"> {{employeeData.address.address }}</dd>
          </div>          

        <div *ngIf = "employeeData.status" class="row">
            <dt class="col-sm-5  text-right">Status :</dt>
            <dd class="col-sm-7">
              <span *ngIf="employeeData.status" class="badge badge-{{ appService.getStatusColor(employeeData.status) }}" >{{employeeData.status}} </span>
            </dd>
        </div>

        <div *ngIf = "employeeData.role" class="row">
            <dt class="col-sm-5  text-right">Role :</dt>
            <dd class="col-sm-7">
              <span *ngIf="employeeData.role" class="badge badge-{{appService.getStatusColor(employeeData.role)}}">{{employeeData.role }}</span>
            </dd>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- View modal box content end -->