
    <div class="row">	
      <div class="col-sm-6">	
        <div class="col-content">	
          <a href="/products" class="banner-wrap">	
            <div class="banner style-7 autosize-text image-hover-scale" data-fontratio="9.6" style="font-size: 80px;">	
              <img src="assets/images/banners/banner3.jpg" alt="Banner">
              <div class="banner-caption horr vertc  mt-5">	
                <div class="vert-wrapper mt-2">	
                  <div class="vert1 text-left">
                    <div class="text-1 textcolor">
                       Ecommerce platform
                    </div>
                    <div class="text-2 textcolor">
                      which accepts
                    </div>
                    <div class="text-2 textcolor">
                      buxcoins
                   </div>
                    
                    <div class="banner-btn text-hoverslide" data-hcolor="#cf0000">	
                      <span>	
                        <span class="text">
                          <!-- SHOP NOW -->
                        </span>
                        <span class="hoverbg">
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">	
        <div class="col-content">	
          <a href="/products" class="banner-wrap">	
            <div class="banner style-8 autosize-text image-hover-scale" data-fontratio="10" style="font-size: 72px;">	
              <img src="assets/images/banners/banner4.jpg" alt="Banner">
              <div class="banner-caption horr vertc">	
                <div class="vert-wrapper">	
                  <div class="vert">	
                    <div class="text-1 textcolor">You can pay
                      <span>
                       through payPal also
                      </span> 
                    </div>
                    <div class="banner-btn text-hoverslide" data-hcolor="#004daa">	
                      <span>	
                        <span class="text">
                          <!-- SHOP NOW -->
                        </span>
                        <span class="hoverbg">
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>