<div class="block mt-1">
  <div class="container">
    <ul class="breadcrumbs mt-1">
      <li>
        <span>My wish list</span>
      </li>
    </ul>
  </div>
</div>
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-12  col-md-3">
        <div class="white-sideblock">
          <ul class="category-list">
            <li>
              <a routerLink="/myAccount">Account Details</a>
            </li>
            <li>
              <a routerLink="/myaddresses">My Addresses</a>
            </li>
            <li class="active">
              <a routerLink="/myWishList">My Wishlist</a>
            </li>
            <li>
              <a routerLink="/myorders">My Order History</a>
            </li>
          </ul>
        </div>
        <div class="divider divider-lg"></div>
      </div>
      <div class="col-12 col-md-9 mb-3">
        <h2>My WishList</h2>
        <div class="cart-table" *ngIf="wishlistProducts&&wishlistProducts.length>0">
          <div class="table-header">
            <div class="photo">
              <!-- Product Image -->
            </div>
            <div class="name">
               Name
            </div>
            <div class="price">
              Price
            </div>
            <div class="remove"> Remove</div>
          </div>
          <div class="table-row" *ngFor="let wishlistProduct of wishlistProducts; let i=index">
            <div class="photo">

              <a routerLink="/details/{{wishlistProduct._id}}">
                <img class="imgclass" src="{{appConfig.imageUrl}}entity/s/{{wishlistProduct?.images[0]?.images[0]}}" onerror="this.src='assets/images/default/product-small.jpg'">
              </a>

            </div>
            <div class="name">
              <a routerLink="/details/{{wishlistProduct._id}}">{{wishlistProduct?.name| limitTo : 100}}</a>
            </div>
            <div class="price">
                <span *ngFor="let c of wishlistProduct?.inventories[0].Currency | currencyConvertor : appService?.selectedCurrency?.name">
                    {{appService?.selectedCurrency?.symbol}}{{ appService.decimalValues(c[appService.selectedCurrency.name])}}
                  </span>

                <!-- {{appService?.selectedCurrency?.symbol}} {{ wishlistProduct?.inventories[0]?.Price}} -->
            </div>
            <div class="remove">
              <a class="pointer" (click)="removeFromWishList(wishlistProduct.favId,wishlistProduct._id)" title="Remove From Wishlist">
                <span>Remove</span>
                <i class="icon icon-trash-alt"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- to show text when no products -->
        <div class="block fullheight fullwidth empty-cart" style="width: 800px;margin-left: -353px;height: 413px;" *ngIf="noProducts">
          <div class="container">
            <div class="image-empty-cart">
              <h2 class="mt-100 text-center danger"> No results found</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>