







<div class="block">
    <div class="container">
      <div class="col-12 my-5">
        <h3 class="text-center"> FAQS</h3>


        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h5 class="mb-0">
                    How do I proceed through the checkout process?
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Once you have finished adding items to your Shopping Bag, simply click the “Check Out” button on the Shopping Bag page and we will guide you through the checkout process.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header pointer" id="headingTwo"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h5 class="mb-0">
                    Can you ship your products anywhere?
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Yes! However, we are not responsible for additional charges you may incur as a result of international duties. 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header pointer" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <h5 class="mb-0">
                    What methods of payment do you accept?
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Bux Superstore will accept Buxcoin as a main mode of payment.
                    It also offer payment gateway (Debit & Credit card) to purchase Buxcoin straight on to the ecommerce portal.
                </div>
              </div>
            </div>

            <div class="card">
                <div class="card-header pointer" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  <h5 class="mb-0">
                      How do I cancel an order or return an item?
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                      E-mail us at support@buxsuperstore.com, letting us know that you will be returning an item. Also, please include in this shipment your personal information that you used to make the order. For more details and info regarding in store returns, see our refund/exchange policy.
                  </div>
                </div>
              </div>



              <div class="card">
                  <div class="card-header pointer" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <h5 class="mb-0">
                        How safe is my personal information?
                    </h5>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        Our site uses a Secure Sockets Layer (SSL) protocol to encrypt all personal information sent during the checkout process. For more information on how we secure and use your information, please consult our Privacy Policy.
                    </div>
                  </div>
                </div>
          </div>
        </div>
        </div>
        </div>











